/* General */

/* *, *:before, *:after { */
/*                -moz-box-sizing: border-box; */
/*                -webkit-box-sizing: border-box; */
/*                box-sizing: border-box; */
/*              } */

html {
  font-family: 'Aften Screen', sans-serif;
  line-height: 1.45;
  font-size: 125%;
  margin-left: auto;
  margin-right: auto;
  text-rendering: optimizeLegibility;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Telefonweb Black', sans-serif;
  font-weight: normal;
  font-style: italic;
  line-height: 1.2;
}

p, figure, li {
  hyphens: auto;
  font-family: 'Aften Screen', sans-serif;
}

p {
  margin: 0;
  padding: 0;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  hyphens: auto;
}

figure {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  float: right;
  width: fit-content;
}

img {
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 30rem;
  float: right;
  margin-left: 1em;
  margin-bottom: 1em;
}

img.book-cover {
  float: left;
  margin-right: .75rem;
}

figcaption {
  text-align: center;
  font-size: smaller;
  font-style: italic;
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 22rem;
  margin-left: auto;
  margin-right: auto;
}

a {
  font-size: inherit;
  text-decoration: none;
  color: #D6521A;
  color: #b64616;
}

.emoji {
  filter: grayscale(100%);
}

a:hover {
  text-decoration: underline;
}

sup, sub {
  font-size: .75rem;
  line-height: 1;
}

tt, code, pre, kbd, samp {
  font-family: 'Inconsolata', monospace;
}

/* used for italics-within-italics */

.roman {
  font-style: normal;
}

/* Title */

h1#title {

  position: relative;
  font-size: 2rem;
}

.entry-meta {
  font-family: 'TelefonWeb Black', sans-serif;
  font-style: italic;
  text-align: right;
  color: #AAA9A4;
}

/* If there is room, display navigation arrows outside #main (width:
   40rem). Otherwise, display inline. */

@media (min-width: 45rem) {
  h1 .prev {
    position: absolute;
    left: -2.5rem;
  }

  h1 .next {
    position: absolute;
    top: 0;
    right: -2.5rem;
  }

  /* also float the date right */

  .entry-meta {
    float: right;
    height: 2.3rem; /* magic number that makes things line up, no idea why */
    display: flex;
    align-items: flex-end;
  }

  h1 {
    font-size: 2.5rem;
  }
}

/* Subheadings */

h2 {
  font-size: 1.25rem;
  margin-top: 2rem;
  margin-bottom: 0;
  clear: both;
}

/* Other sections */

#main {
  margin-left: auto;
  margin-right: auto;
  max-width: 40rem;
}

.nav {
  text-align: center;
  font-family: 'TelefonWeb Black', sans-serif;
  font-style: italic;
  line-height: 1.2;
  font-style: italic;
  font-size: 36px;
  margin: 1rem;
  clear: both;
}

.footnotes {
  font-size: smaller;
}

/* Syntax highlighting / code blocks */

.highlight {
  font-size: 20px;
  margin-left: 1.5rem;
}

pre {
  white-space: pre-wrap;
}
