/* General */

*, *:before, *:after {
               -moz-box-sizing: border-box;
               -webkit-box-sizing: border-box;
               box-sizing: border-box;
             }

html {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  line-height: 1.45;
  width: 50rem;
  margin-left: auto;
  margin-right: auto;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
}

h1,h2,h3,h4,h5,h6 {
  font-style: italic;
  line-height: 1.2;
}

p, figure, li {
  hyphens: auto;
  font-family: 'Aften Screen', sans-serif;
}

p, figure {
  margin: 0;
  padding: 0;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  hyphens: auto;
}

img {
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.book-cover {
  float: left;
  margin-right: .75rem;
}

figcaption {
  text-align: center;
  font-size: smaller;
  font-style: italic;
  margin-top: 1rem;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

a {
  font-size: inherit;
  text-decoration: none;
  color: #D6521A;
}

a:hover {
  text-decoration: underline;
}

sup, sub {
  font-size: .75rem;
  line-height: 1;
}

tt, code, pre, kbd, samp {
  font-family: 'Inconsolata', monospace;
}

/* used for italics-within-italics */

.roman {
  font-style: normal;
}

/* Title */

h1 {
  font-weight: 900;
  position: relative;
  font-size: 48px;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

@font-face {
    font-family: 'ArrrowsRegular';
    src: url('../fonts/arrrows-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 .prev {
  font-family: 'ArrrowsRegular';
  font-style: normal;
  position: absolute;
  left: -2.5rem;
}

h1 .next {
  font-family: 'ArrrowsRegular';
  font-style: normal;
  position: absolute;
  top: 0;
  right: -2.5rem;
}

/* Subheadings */

h2 {
  font-size: 32px;
  margin-top: 2rem;
}

/* Other sections */

#main {
  float: left;
  position: relative;
  width: 800px;
}

p.entry-meta {
  font-style: italic;
  text-align: right;
  color: #235A81;
}

.nav {
  font-weight: 900;
  text-align: center;
  font-style: italic;
  font-size: 36px;
  margin: 1rem;
}

.footnotes {
  font-size: smaller;
}

/* Syntax highlighting / code blocks */

.highlight {
  font-size: 20px;
  margin-left: 1.5rem;
}

pre {
  white-space: pre-wrap;
}
