@font-face {
    font-family: 'Aften Screen';
    src: url('aften_screen.eot');
    src: url('aften_screen.eot?#iefix') format('embedded-opentype'),
         url('aften_screen.woff') format('woff'),
         url('aften_screen.ttf') format('truetype'),
         url('aften_screen.svg#aften_screenregular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
