    <h1>
      {% if post.previous.url %} 
        <a class="prev" href="{{post.previous.url}}">I</a>
      {% endif %} 
      <a href="{{ post.url }}" title="{{ post.title }}">
	{{ post.title }}
      </a>
      {% if post.next.url %} 
        <a class="next" href="{{post.next.url}}">i</a> 
      {% endif %} 
    </h1>
    {{ content }}
    <p class="entry-meta">
      <abbr class="published">{{ post.date | date: "%B" }} {{ post.date | date: "%d" }}, {{ post.date | date: "%Y" }}</abbr>
    </p>
