<!doctype html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <link rel="alternate" type="application/atom+xml" title="Atom 1.0" href="/atom.xml">
    <link href="//fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Lato:400,700,900,400italic,700italic,900italic" rel="stylesheet" type="text/css">
    <link href="//cloud.webtype.com/css/952be2b1-d8aa-421e-b260-2cad509a74e0.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/css/syntax.css">
    <link rel="stylesheet" type="text/css" href="/css/arrrows.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <meta charset="utf-8"/>
  </head>
  <body>
    <div id="main">
      {{ content }}
      <div class="nav">
	<a href="/about">About</a> &mdash; <a href="/archives">Archives</a> &mdash; <a href="/">Home</a>
      </div>
    </div>    
  </body>
</html>


