<!doctype html>
<html lang="en">
  <head>
    <title>{{ page.title | strip_html }}</title>
    <link rel="alternate" type="application/atom+xml" title="Atom 1.0" href="/atom.xml">
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link rel="preload" href="/fonts/arrrows-regular-webfont.woff" as="font" type="font/woff">
    <link rel="preload" href="/fonts/aften-screen/aften_screen.woff" as="font" type="font/woff">
    <link href="//fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Lato:400,700,900,400italic,700italic,900italic&display=swap" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/fonts/aften-screen/type.css">
    <link rel="stylesheet" type="text/css" href="/css/syntax.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <meta charset="utf-8"/>
  </head>
  <body>
    <div id="main">
      {{ content }}
      <div class="nav">
	<a href="/about">About</a> &mdash; <a href="/archives">Archives</a> &mdash; <a href="/">Home</a>
      </div>
    </div>    
  </body>
</html>


