<!doctype html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="alternate" type="application/atom+xml" title="Atom 1.0" href="/atom.xml">
    <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/syntax.css">
    <link rel="stylesheet" type="text/css" href="/css/arrrows.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <style>

    </style>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div id="main">
      {{ content }}
      <div class="nav">
	<a href="/about">About</a> &mdash; <a href="/archives">Archives</a> &mdash; <a href="/">Home</a>
      </div>
    </div>    
  </body>
</html>


